.keyboard-container{
  margin-top: 0px;
  line-height: 24px;
  background-color: var(--background-color);
  padding: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.keyboard{
  background-color: var(--background-color);
  margin: 5px;
  padding: 5px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  line-height: 24px;
}

.key-row {
  background-color: var(--background-color);
  color: white;
  display: flex;
  flex-direction: row;
  line-height: 24px;
  align-items: center;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 2px;
  margin: 0px;
  margin-bottom: 2px;
}

#empty-space {
  width: 15px;
}

.key {
  font-family: Century Gothic;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  alignment-baseline: middle;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
  width: 30px;
  height: 45px;
  margin: 0px;
  margin-right: 4px;
  padding: 10px;
  background-color: var(--primary-accent);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.key:hover{
  background-color: var(--hover-accent);
}

#Enter {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  alignment-baseline: middle;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 45px;
  margin: 0px;
  margin-right: 4px;
  padding: 10px;
  font-size: 0.65rem;
  background-color: var(--primary-accent);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#Enter:hover{
  background-color: var(--hover-accent);
}

#Backspace {
  position: relative;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  text-align: center;
  alignment-baseline: middle;
  width: 50px;
  height: 45px;
  margin: 0px;
  margin-right: 4px;
  padding: 10px;
  background-color: var(--primary-accent);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#delete-btn:hover{
  background-color: var(--hover-accent);
}

.navigation-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 24px;
  padding: 0px;
  margin: 0px;
}

.navigation{
  display: flex;
  align-items: center;
  flex-direction: row;
  line-height: 24px;
  padding: 0px;
  margin: 0px;
}

#less-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  text-align: center;
  alignment-baseline: middle;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: 3px;
  margin-top: 0px;
  padding: 10px;
  font-size: 1.5rem;
  background-color: var(--primary-accent);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#less-btn:hover{
  background-color: var(--hover-accent);
}

#word-number {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  text-align: center;
  alignment-baseline: middle;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 3px;
  margin-top: 0px;
  padding: 10px;
  font-size: 1.1rem;
  background-color: var(--background-color);
  color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: var(--primary-accent);
  border-radius: 5px;
}

#more-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  text-align: center;
  alignment-baseline: middle;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: 3px;
  margin-top: 0px;
  padding: 10px;
  font-size: 1.5rem;
  background-color: var(--primary-accent);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#more-btn:hover{
  background-color: var(--hover-accent);
}